<div class="container-fluid">
  <div class="row no-gutter">
    <!-- LEFT HALF -->
    <div class="col-md-6 bg-image"></div>

    <!-- RIGHT HALF -->
    <div class="col-md-6 bg-light">
      <div class="row no-gutter">
        <p class="display-4">Gather Up</p>
      </div>
      <div class="banner d-flex align-items-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius. Sed pulvinar proin gravida hendrerit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius. Sed pulvinar proin gravida hendrerit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius. Sed pulvinar proin gravida hendrerit.</p>
      </div>
    </div>
  </div>
</div>